- @title = 'Companies'

.row
  .col-xs-12

    %h1 Listing companies

    .table-responsive
      %table.table.table-inverse.dark-background
        %thead
          %tr
            %th Name
            %th
        %tbody
          - @companies.each do |company|
            %tr
              %td= company.name
              %td.text-xs-right.text-nowrap
                = link_to 'Edit', edit_company_path(company), :class => 'btn btn-success btn-sm'
                - if not current_user.nil? and current_user.admin?
                  = link_to 'Delete', company, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger btn-sm'

    = link_to 'New company', new_company_path, class: 'btn btn-primary'
